@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');

:root{
    --brand-colour: #dcb000;
    --max-width:1800px;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

.highlight{
    color: var(--brand-colour);
}

/* NAV bar*/
/* NAV bar*/

nav{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #111;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: var(--max-width);
}

nav ul li{
    padding: 20px;
    display: flex;
}

nav ul li:last-of-type{
    margin-left: 500px;
}

/* Main page */
/* Main page */

.test{
    background-image: url('images/sea.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 200px;

    display: flex;
    justify-content: center;
}

.test h1{
    font-size: 50px;
    color:#051625;
    justify-content: center;
}

.main-content{
    width:var(--max-width);
    display: flex;
    margin: auto;
}

.main-content > div{
    width: 100%;
}

.columns{
    background-color: beige;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columns img{
    width: 100%;
}

.columns .col{
    padding: 100px;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.columns div{
    font-size: 40px;
    color: #2f5d82; 
}

/* Tags component*/
/* Tags component*/

.tags{
    display: flex;
    justify-content: center;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    width: 100;
    font-size: 18px;
}

button{
    border: none;
    background-color: none;
    margin-block-start: 1em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5rem;
    background: #d5d5d6;
    margin: 0 7px 7px 0;
}

.ph2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: grey;
}

.link, .link:active, .link:focus, .link:hover, .link:link, .link:visited {
    transition: color .15s ease-in;
}