@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');


/* Main page styling */

:root{
    --brand-colour: #dcb000;
    --max-width:1800px;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

.highlight{
    color: var(--brand-colour);
}

.main-content{
    width:var(--max-width);
    display: flex;
    margin: auto;
}

.main-content > div{
    width: 100%;
}

.columns{
    background-color: beige;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columns img{
    width: 100%;
}

.columns .col{
    padding: 100px;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.columns div{
    font-size: 40px;
    color: #2f5d82; 
}
